<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商品后台管理系统</title>
    <link rel="icon" href="{% static 'img/arrow-up.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'boot/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'boot/css/back.css' %}">
    <link rel="stylesheet" href="{% static 'jqgrid/css/trirand/ui.jqgrid-bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'jqgrid/css/jquery-ui.css' %}">
    <script src="{% static 'boot/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'boot/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'jqgrid/js/trirand/src/jquery.jqGrid.js' %}"></script>
    <script src="{% static 'jqgrid/js/trirand/i18n/grid.locale-cn.js' %}"></script>
    <script src="{% static 'echarts/echarts.min.js' %}"></script>
    <script src="{% static 'echarts/echarts.js' %}"></script>
    <script src="{% static  'echarts/china.js' %}"></script>
    <script src="{% static 'kindeditor/kindeditor-all-min.js' %}"></script>
    <script src="{% static 'kindeditor/lang/zh-CN.js' %}"></script>
</head>
<body>
{#导航条#}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">持明法洲管理系统</a>
        </div>
        <div class="navbar-right">
            <p class="navbar-text" style="margin-right:0">欢迎: </p>
            <p class="navbar-text" style="margin-left:10px">
                退出登录
                <span class="glyphicon glyphicon-log-out"></span>
            </p>
        </div>
    </div>
</nav>
{#内容#}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 ">
            <!--带列表组的手风琴-->
            <div class="panel-group" id="accodin1">
                <!--面板1-->
                <div class="panel panel-default">
                    <!--头部 触发器-->
                    <div class="panel-heading">
                        <a href="#myCollapse6" data-toggle="collapse" data-parent="#accodin1">用户管理</a>
                    </div>
                    <!--内容 子菜单-->
                    <div id="myCollapse6" class="collapse">
                        <!--list-group 列表组-->
                        {% for url in request.session.menu_list %}
                            <ul class="nav nav-pills nav-stacked">

                                {% if url.dengji == '1' %}



                                    <li>
                                        <a href="Javascript:$('#centerLayout').load('{% static url.url %}')">{{ url.title }}</a>
                                    </li>

                                {% endif %}
                            </ul>
                        {% endfor %}
                    </div>
                </div>
                <!--面板2-->
                <div class="panel panel-default">
                    <!--头部 触发器-->
                    <div class="panel-heading">
                        <a href="#myCollapse7" data-toggle="collapse" data-parent="#accodin1">文章管理</a>
                    </div>
                    <!--内容 子菜单-->
                    <div id="myCollapse7" class="collapse">
                        <!--list-group 列表组-->
                        {% for url in request.session.menu_list %}
                            <ul class="nav nav-pills nav-stacked">

                                {% if url.dengji == '2' %}



                                    <li>
                                        <a href="Javascript:$('#centerLayout').load('{% static url.url %}')">{{ url.title }}</a>
                                    </li>

                                {% endif %}
                            </ul>
                        {% endfor %}
                    </div>
                </div>
                <!--面板3-->
                <div class="panel panel-default">
                    <!--头部 触发器-->
                    <div class="panel-heading">
                        <a href="#myCollapse8" data-toggle="collapse" data-parent="#accodin1">专辑管理</a>
                    </div>
                    <!--内容 子菜单-->
                    <div id="myCollapse8" class="collapse">
                        <!--list-group 列表组-->
                        {% for url in request.session.menu_list %}
                            <ul class="nav nav-pills nav-stacked">

                                {% if url.dengji == '3' %}



                                    <li>
                                        <a href="Javascript:$('#centerLayout').load('{% static url.url %}')">{{ url.title }}</a>
                                    </li>

                                {% endif %}
                            </ul>
                        {% endfor %}
                    </div>
                </div>
                <!--面板4-->
                <div class="panel panel-default">
                    <!--头部 触发器-->
                    <div class="panel-heading">
                        <a href="#myCollapse9" data-toggle="collapse" data-parent="#accodin1">轮播图管理</a>
                    </div>
                    <!--内容 子菜单-->
                    <div id="myCollapse9" class="collapse">
                        <!--list-group 列表组-->
                        {% for url in request.session.menu_list %}
                            <ul class="nav nav-pills nav-stacked">

                                {% if url.dengji == '4' %}



                                    <li>
                                        <a href="Javascript:$('#centerLayout').load('{% static url.url %}')">{{ url.title }}</a>
                                    </li>

                                {% endif %}
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 " id="centerLayout">
            {#巨幕#}
            <div class="jumbotron">
                <h1>欢迎来到持明法洲后台管理系统</h1>
            </div>

            {#轮播图#}
            <div id="myCarousel" class="carousel slide">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="{% static 'img/1.jpg' %}" alt="First slide" style="width: 100%;height: 500px">
                        <div class="carousel-caption">标题 1</div>
                    </div>
                    <div class="item">
                        <img src="{% static 'img/2.jpg' %}" alt="Second slide" style="width: 100%;height: 500px">
                        <div class="carousel-caption">标题 2</div>
                    </div>
                    <div class="item">
                        <img src="{% static 'img/3.jpg' %}" alt="Third slide" style="width: 100%;height: 500px">
                        <div class="carousel-caption">标题 3</div>
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

{#文章界面的添加模态框#}
<div class="modal fade" id="wenzhang" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" style="width:750px">
            <!--模态框标题-->
            <div class="modal-header">
                <!--
                    用来关闭模态框的属性:data-dismiss="modal"
                -->
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">编辑用户信息</h4>
            </div>

            <!--模态框内容体-->
            <div class="modal-body">
                <form action="//" class="form-horizontal"
                      id="addArticleFrom">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">姓名</label>
                        <div class="col-sm-5">
                            <input type="text" name="name" id="name" placeholder="请输入姓名" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">标题</label>
                        <div class="col-sm-5">
                            <input type="text" name="title" id="title" placeholder="请输入标题" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">分类</label>
                        <div class="col-sm-5">
                            <select class="form-control" name="category" id="status">
                                <option value="1">上师言教</option>
                                <option value="2">显密法要</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea id="editor_id" name="content" style="width:700px;height:300px;">

                            </textarea>
                        </div>
                    </div>
                    <input id="addInsertImg" name="insertImg" hidden>
                </form>
            </div>
            <!--模态页脚-->
            <div class="modal-footer" id="modal_footer">

            </div>
        </div>
    </div>
</div>


{#文章界面的编辑模态框#}
<div class="modal fade" id="bianji" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" style="width:750px">
            <!--模态框标题-->
            <div class="modal-header">
                <!--
                    用来关闭模态框的属性:data-dismiss="modal"
                -->
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title">编辑用户信息</h4>
            </div>

            <!--模态框内容体-->
            <div class="modal-body">
                <form action="//" class="form-horizontal"
                      id="editArticleFrom">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">id</label>
                        <div class="col-sm-5">
                            <input type="text" name="id_111" id="id_111" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">姓名</label>
                        <div class="col-sm-5">
                            <input type="text" name="name_1" id="name_1" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">标题</label>
                        <div class="col-sm-5">
                            <input type="text" name="title_1" id="title_1" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">分类</label>
                        <div class="col-sm-5">
                            <select class="form-control" name="category_1" id="category_1">
                                <option value="1">上师言教</option>
                                <option value="2">显密法要</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea id="editor_id_1" name="content_1" style="width:700px;height:300px;">

                            </textarea>
                        </div>
                    </div>
                    <input id="addInsertImg" name="insertImg" hidden>
                </form>
            </div>
            <!--模态页脚-->
            <div class="modal-footer" id="footer">
                <button type="button" class="btn btn-primary" onclick="editArticle()">保存</button>
                <button class="btn btn-warning" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>